body{
	font-family: sans-serif;
	background-image: url(assets/img/bgawal.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}

.kotak_login{
	width: 350px;
	background: white;
	margin: 80px auto;
	padding: 30px 20px;
	border-radius: 15px;

}



label{
	font-size: 11pt;
}

.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.tombol_login{
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.tombol_register{
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	margin-top: 10px;
}



.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}
#profile-img {
	width: 100px; 
	height: auto; 
	display: block; 
	margin: 0 auto; 
  }

  .tittle {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #2aa7e2;
  }
  